.github/**
.gitignore
.travis.yml
LICENSE.txt
LIZENZ.txt
README*
_parameters
debian/**
doc/**
ideas
pretty/**
sample-ghci-script
stack.yaml
todo*
**.tex
**.pdf
utils/**
!utils/gha-helper.sh
!utils/check*
Docker/**
GMP/CoLoSS/data/GMP.tar.gz
GMP/papers/**
HolLight/OcamlTools/**