.github/**
.gitignore
.travis.yml
LIZENZ.txt
README*
_parameters
debian/**
doc/**
ideas
pretty/**
sample-ghci-script
todo*
**.tex
**.pdf
Docker/**
GMP/CoLoSS/data/GMP.tar.gz
GMP/papers/**
HolLight/OcamlTools/**