*.hi
*.o
*.der.hs
ATC_*.hs
AS_*.hs
hets

Isabelle/IsaExport.hs

utils/DtdToHaskell
utils/DtdToHaskell-src/DtdToHaskell/

ATC/IRI.hs
ATC/Consistency.hs
ATC/DefaultMorphism.hs
ATC/DevGraph.hs
ATC/DgUtils.hs
ATC/ExtSign.hs
ATC/GlobalAnnotations.hs
ATC/Graph.hs
ATC/Grothendieck.hs
ATC/Id.hs
ATC/LibName.hs
ATC/OrderedMap.hs
ATC/ProofTree.hs
ATC/Prover.hs
ATC/Result.hs
ATC/XGraph.hs
Driver/Version.hs
Fpl/As.hs
GUI/Glade/GenericATP.hs
GUI/Glade/LinkTypeChoice.hs
GUI/Glade/NodeChecker.hs
GUI/Glade/ProverGUI.hs
GUI/Glade/TextField.hs
GUI/Glade/Utils.hs
RelationalScheme/AS.hs
utils/DrIFT
utils/appendHaskellPreludeString
utils/genRules
