sudo: required
dist: trusty
language: haskell

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hets/hets
 - travis_retry sudo apt-get update -qq
 - travis_retry sudo apt-get build-dep -qq hets
 - travis_retry sudo apt-get install -qq texlive-latex-recommended

install:
 - export PATH=/usr/bin:$PATH
 - cabal install parsec1

script:
 - make
 - ./hets -V
 - export HETS_MAGIC=$PWD/magic/hets.magic
 - make check
