language: haskell
ghc: 7.8
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq zlib1g-dev libncurses-dev libcairo2-dev libglib2.0-dev libpango1.0-dev libgtk2.0-dev libglade2-dev
install:
 - travis_retry cabal update
 - cabal install alex happy
 - cabal install gtk2hs-buildtools
 - cabal install glade
 - cabal install --only-dependencies
script:
 - make
 - ./hets -V
 - export HETS_MAGIC=$PWD/magic/hets.magic
 - make check

