<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
     <key>Label</key>
     <string>makeHets</string>
     <key>ProgramArguments</key>
     <array>
          <string>/Users/Shared/maeder/haskell/cronjob.sh</string>
     </array>
     <key>StartCalendarInterval</key>
     <array>
       <dict>
         <key>Hour</key>
         <integer>0</integer>
         <key>Minute</key>
         <integer>1</integer>
       </dict>
     </array>
     <key>StandardOutPath</key>
          <string>/Users/Shared/maeder/haskell/cron.log</string>
     <key>StandardErrorPath</key>
          <string>/Users/Shared/maeder/haskell/cron.log</string>
     <key>Nice</key>
     <integer>-19</integer>
</dict>
</plist>
