.consistency-kind-inconsistent { background: red; color: white}
.consistency-kind-unknown { background: black; color: white}
.consistency-kind-pcons { background: darkgreen; color: white}
.consistency-kind-cons { background: green; color: white}
.consistency-kind-mono { background: violet; color: white}
.consistency-kind-defined { background: seagreen; color: white}
.consistency-kind-timed_out { background: blue; color: white}
.consistency-kind-error { background: darkred; color: white}

.cc-output { border: 1px solid @borders; background: @theme_base_color; }
