#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_clean:
	make distclean
	dh_auto_clean

override_dh_auto_build:
	make hets-opt
	cd doc && pdflatex UserGuide.tex
	make doc

override_dh_auto_test:
	yes X | make check

override_dh_installman:
	dh_installman debian/hets.1

override_dh_install:
	install -m 755 -d debian/hets-core/usr/lib/hets
	install -m 755  hets debian/hets-core/usr/lib/hets
	cp -r hets-lib debian/hets-core/usr/lib/hets
	cp -r hets-owl-tools debian/hets-core/usr/lib/hets
	install -m 755 -d debian/hets-doc/usr/share/doc/hets-doc/html
	cp docs/* debian/hets-doc/usr/share/doc/hets-doc/html
	install -m 755 -d debian/hets-core/usr/bin
	cp debian/hets_script debian/hets-core/usr/bin/hets
