Source: hets-src
Section: misc
Priority: optional
Maintainer: Hets packaging team Uni Bremen/Magdeburg <hets-devel@informatik.uni-bremen.de>
Build-Depends:
 dpkg, dpkg-dev,
 ghc (>= 7.6.3),
 happy,
 ghc-haddock,
 libghc-parsec3-dev,
 libghc-tar-dev,
 libghc-glade-dev,
 libghc-haskeline-dev,
 libghc-hexpat-dev,
 libghc-http-dev,
 libghc-fgl-dev,
 libghc-xml-dev,
 libghc-aterm-dev,
 libghc-uni-udrawgraph-dev,
 libghc-wai-extra-dev,
 libghc-warp-dev,
 libghc-random-dev,
 libghc-haxml-dev,
 ant,
 openjdk-7-jdk | openjdk-8-jdk,
 ksh,
 zip,
 xz-utils,
 tar,
 texlive-latex-base,
 texlive-latex-extra,
 texlive-pictures,
 texlive-fonts-recommended
Standards-Version: 3.9.3
Homepage: https://github.com/spechub/Hets

Package: hets-common
Architecture: all
Depends: libc6, libgcc1, libstdc++6
Description: Data used by the hets-server as well as hets-desktop package.
 This package contains the intersection of architecture independent libraries,
 supporting scripts and other data of the hets-server and hets-desktop working
 set. It also contains some hets related user guides and basic papers which may
 help to dive into hets. For more information about hets see http://hets.eu/.

Package: hets-desktop
Architecture: i386 amd64
Depends: hets-common, hets-libs, owltools, ksh, darwin, eprover, spass, openjdk-8-jre | openjdk-7-jre, graphviz, patch, file, perl, udrawgraph [i386] | udrawgraph:i386 [amd64],    libatk1.0-0, libc6, libffi6, libgdk-pixbuf2.0-0, libglade2-0, libglib2.0-0, libgmp10, libgtk2.0-0, libpango-1.0-0, libtinfo5
Description: The Heterogeneous Tool Set (hets) - desktop version.
 This package contains the desktop version of the Heterogeneous Tool Set (hets).
 Hets is a parsing, static analysis and proof management tool combining
 various tools for different specification languages, thus providing a
 tool for the distributed ontology, modeling and specification language DOL,
 and the heterogeneous specification language HetCASL. The structuring
 constructs of this language extend those of CASL, with (among others) new 
 heterogeneous constructs for indicating the language and for language 
 translations. Hence, Hets is based on a graph of logics and languages.

Package: hets-server
Architecture: i386 amd64
Depends: hets-common, hets-libs, owltools, ksh, darwin, eprover, spass, openjdk-8-jre-headless | openjdk-7-jre-headless, graphviz, patch, file, perl,    libc6, libffi6, libgmp10
Description: The Heterogeneous Tool Set (hets) - server version.
 This package contains the server version of the Heterogeneous Tool
 Set (hets).  Hets is a parsing, static analysis and proof management
 tool combining various tools for different specification languages,
 thus providing a tool for the distributed ontology, modeling and
 specification language DOL, and the heterogeneous specification
 language HetCASL. The structuring constructs of this language extend
 those of CASL, with (among others) new heterogeneous constructs for
 indicating the language and for language translations. Hence, Hets is
 based on a graph of logics and languages.  The difference to the
 hets-desktop package is, that this one has no GUI support,
 i.e. compiled without GTK+/Glade/TclTk support and thus reduces the
 number of dependencies/required ressources noteworthy - much more
 appropriate for server environments.

############################################################################
# TBD: hets-provers, hets-desktop-all, hets-server-all
############################################################################
Package: hets-provers
Architecture: i386 amd64
Depends:     cvc3, darwin, edarwin, eprover, fact++, hol-light, maude, minisat, spass, z3
# 	TBD: cvc3 -> cvc4, edarwin -> e-darwin, ekrhyper (n/a), leo2 (n/a), kodkodi (n/a), satallax (n/a), twelf (n/a), yices (n/a), zchaff (n/a)
#	NOTE: z3 @since 15.10, darwin/edarwin/eprover (PPA)
Description: Provers for Hets.
 This meta-package bundles all known provers which might be useful in hets
 related environments. It is just for convinience to be able to install all
 prover packages at once (and find out later the details).

Package: hets-desktop-all
Architecture: i386 amd64
Depends: hets-desktop, hets-provers, pellet, isabelle-installer
# TBD: protege4 (n/a), protege4-plugins (n/a)
Description: The Heterogeneous Tool Set (hets) - desktop plus.
 This is a meta-package which pulls in the hets-desktop as well as all any
 other known package, which might be helpful when dealing with hets.

Package: hets-server-all
Architecture: i386 amd64
Depends: hets-server, hets-provers, pellet, isabelle-installer
Description: The Heterogeneous Tool Set (hets) - server plus.
 This is a meta-package which pulls in the hets-server as well as all any
 other known non-GUI package, which might be helpful when using hets as a
 service.
