#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_clean:
	make distclean
	dh_auto_clean

override_dh_auto_build:
	make derivedSources
	make hets-server

override_dh_auto_test:

override_dh_installman:
	dh_installman debian/hets.1

override_dh_install:
	install -m 755 -d debian/hets-server-core/usr/lib/hets
	install -m 755 hets-server debian/hets-server-core/usr/lib/hets
	install -m 755 -d debian/hets-server-core/usr/lib/hets/hets-isa-tools
	install -m 755 Isabelle/export/export.sh debian/hets-server-core/usr/lib/hets/hets-isa-tools
	cp Isabelle/export/export_helper.ml debian/hets-server-core/usr/lib/hets/hets-isa-tools
	cp -r hets-lib debian/hets-server-core/usr/lib/hets
	install -m 644 magic/hets.magic debian/hets-server-core/usr/lib/hets
	cp -r hets-owl-tools debian/hets-server-core/usr/lib/hets
	install -m 755 -d debian/hets-server-core/usr/lib/hets/hets-maude-lib
	install -m 644 Maude/hets.prj debian/hets-server-core/usr/lib/hets/hets-maude-lib
	cp Maude/*maude debian/hets-core/usr/lib/hets/hets-maude-lib
	install -m 755 -d debian/hets-server-core/usr/bin
	cp debian/hets_script debian/hets-server-core/usr/bin/hets-server
