Source: hets
Section: misc
Priority: extra
Maintainer: Corneliu-Claudiu Prodescu <cprodescu@googlemail.com>
Build-Depends:
 debhelper(>=7.4.15),
 ghc,
 happy,
 ghc-haddock,
 libghc-parsec3-dev,
 libghc-tar-dev,
 libghc-glade-dev,
 libghc-haskeline-dev,
 libghc-hexpat-dev,
 libghc-http-dev,
 libghc-fgl-dev,
 libghc-xml-dev,
 libghc-aterm-dev,
 libghc-programatica-dev,
 libghc-uni-udrawgraph-dev,
 libghc-wai-extra-dev,
 libghc-warp-dev,
 libghc-random-dev,
 libghc-haxml-dev,
 spass,
 darwin,
 lib32stdc++6[amd64],
 texlive-latex-base,
 texlive-latex-extra,
 texlive-pictures
Standards-Version: 3.9.3
Homepage: http://www.informatik.uni-bremen.de/agbkb/forschung/formal_methods/CoFI/hets/

Package: hets-core
Architecture: i386 amd64
Depends: tk, darwin, eprover, openjdk-7-jre | openjdk-6-jre, spass, udrawgraph, graphviz, gtk2-engines, gtk2-engines-pixbuf, python, subversion, curl, bzip2, ${shlibs:Depends}, ${misc:Depends}
Recommends: man
Description: Package containing the core of Hets - the Heterogeneous Tool Set.
 Hets is a parsing, static analysis and proof management tool combining
 various tools for different specification languages, thus providing a
 tool for the heterogeneous specification language HetCASL. The structuring
 constructs of this language are those of CASL, plus some new heterogeneous
 constructs for indicating the language and for language translations. Hence,
 Hets is based on a graph of logics and languages.

Package: hets-ontology
Architecture: all
Depends: hets-core, libfactplusplusjni, pellet, ekrhyper, ${misc:Depends}
Description: Package containing the Hets-Ontology system.
 This is a meta-package containing the Hets-Ontology system.

Package: hets-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Package containing the documentation for Heterogeneous Tool Set.
 This is a package containing the Haddock documentation of the Heterogenous
 Tool Set.

Package: hets
Architecture: all
Depends: hets-core, hets-ontology, hets-doc, isabelle-installer, maude, hets-hollight-tools, ${misc:Depends}
Description: Package containing the full Hets - the Heterogeneous Tool Set.
 This is a meta-package containing the full Hets system.
